body{
  color:pink;
  background-color:black;
}
h1{
  background-color:gray;
  margin: 20px;
  padding: 20px;
width: 700px;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
}
button{
  background-color:rgb(202, 78, 78);
  color:white;
  padding:10px;
  margin:20px;
  border-radius:10px;
}